//Variables
$btnWidth:2.8068rem;
$operatorBtn: orange;
$grayBtn: gray;

body {
  padding-left: 15px;
  padding-right: 15px;
}

h1,footer {
  text-align: center;
}

#calculator {
  background-color: #999;
  border: 5px black solid;
  border-radius: 10px;
  font-size: 2rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  //Total Screen
  #total {
    background-color: black;
    border: 3px solid white;
    border-radius:10px 10px 0px 0px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 1rem;
    text-align: right;
    font-size: 50px;
  }
  //Rows with Buttons
  #row1, #row2, #row3, #row4, #row5 {
    display: flex;
  }
}
//General Button Styles
button {
  background-color: lighten($grayBtn, 45%);
  width: $btnWidth;
  padding: 1.5rem;
  flex-grow: 1;
  height: 5.3rem;
  &:active {
    background-color: darken(lighten($grayBtn, 45%), 10%);
  }
}
//Button Specific Styles
button[name=zeroBtn] {
  width: $btnWidth *2;
  flex-grow: 2.8;
  //iphone 6
  @media screen and (orientation: landscape) { flex-grow: 2.14; }
  @media (min-width: 375px) { flex-grow:2.4; }
  //ipad
  @media (width: 667px) { flex-grow:2.2; }
  @media (min-width: 768px) { flex-grow:2.18; }
  @media (min-width: 1024px) { flex-grow:2.2; }
}
.topBtns {
  background-color: lighten($grayBtn, 30%);
  &:active {
    background-color: lighten($grayBtn, 10%);
  }
}
.operatorBtn {
  background-color: $operatorBtn;
  &:active {
    background-color: darken($operatorBtn, 5%);
  }
  color: white;
}

footer {
  margin-top: 2px;
}
